.panel {
  display: flex;
  flex-direction:column;
  width: 750px;
  border-width: 2px;
  border-style: solid;
  border-color: #BBB;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
.text {
  lines: 3;
  color: #666666;
  font-size: 32px;
}